@charset 'utf-8';

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-gov.min.css');

:root {
  --width: 1900;
  --designWidth: 1248;
  --col_blue: #4d65e1;
  --col_skyblue: #4195e3;
  --col_skyblue_light: #f3f8ff;
  --col_green: #62d491;
  --col_green2: #117935;
  --col_lightgreen: #6aa10a;
  --col_orange: #f0651f;
  --col_navy: #39425d;
  --col_cyan: #06a0aa;
  --col_pink: #ff0046;
  --col_pink2: #e77bc8;
  --col_magenta: #ff00d6;
  --col_yellow: #af8f1b;
  --col_purple: #9e00ff;
  --col_h: #111;
  --col_body: #333;
  --col_p: #555;
  --col_dis: #888;
  --col_white: #fff;
  --col_tabe: #ccc;
  --col_btn: #ddd;
  --col_button: #757575;
  --col_border: #eee;
  --col_bg: #f5f5f5;
  --col_box_bg: #f8f8f8;
  --col_red: #e0024b;
  --col_darkred: #b21116;
  --col_gray: #757575;
  --col_brown: #a95a12;
  --col_brown2: #af8f1b;
  --col_header_line: #5dc488;
  --col_homegreen: #29c78e;
  --col_brightyellow: #fef101;
  --swiper-centered-offset-before: none;
  --swiper-centered-offset-after: none;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  color: #fff;
}

body {
  font: 1.6rem/1.5 'Pretendard GOV', sans-serif;
  word-break: break-all;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

hr,
.hidden {
  width: 1px;
  height: 1px;
  position: absolute;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

.inner {
  width: 124.8rem;
  margin: 0 auto;
  /* background: khaki; */
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 19.3rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.header-top p {
  height: 3.6rem;
  width: 100%;
  padding: 0 33.6rem;
  background: #edf1f5;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  color: #555;
}

.header-top-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0 33.6rem;
  position: relative;
}

.header-top-list::before {
  content: '';
  width: 100%;
  height: 4rem;
  background: var(--col_header_line);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.header-top-list::after {
  content: '';
  width: 100%;
  height: 4.4rem;
  background: var(--col_white);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.user-list a {
  display: block;
  width: 12rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-top-list .user-list {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: start;
  align-items: center;
}

.user-list li {
  /* border: 1px solid var(--col_green2); */
  background: var(--col_white);
}

.header-top-list:last-child > li {
  width: 100%;
  display: flex;
  justify-content: end;
}

.util-list {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  background: var(--col_white);
}

.util-list li a {
  display: block;
  padding: 8px;
  font-size: 1.4rem;
  line-height: 1.714;
}

#header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 33.6rem;
  background: var(--col_white);
}

.logo {
  width: 13.6rem;
  height: 4.8rem;
}

.gnb {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gnb > li {
  position: relative;
}

#header nav > a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.6px;
  font-weight: 600;
  font-size: 1.8rem;
}

#header nav > a::before {
  content: '';
  width: 3.2rem;
  height: 3.2rem;
  background: url(https://www.work24.go.kr/cm/static/images/main_new/ico32_category.svg) no-repeat 0 0 / contain;
}

.gnb > li > a {
  display: block;
  padding: 2.4rem 4.4rem;
  height: 7.6rem;
  font-size: 2rem;
  font-weight: 600;
}

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  /* background: pink; */
  display: none;
}

.submenu li a {
  display: block;
  padding: 6px 0;
  line-height: 1.375;
}

section.search {
  width: 100%;
  height: 35rem;
  padding: 5rem 0;
  margin-top: 19.3rem;
  /* background: yellowgreen; */
}

.search-con {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-box {
  /* border: 1px solid violet; */
  width: 70rem;
  height: 25rem;
}

.search-check {
  margin-top: 4.7rem;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  padding: 0 1.5rem;
}

.search-check label {
  display: flex;
  justify-content: start;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  color: var(--col_button);
  gap: 5px;
}

.search-check label::before {
  content: '';
  display: block;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(https://www.work24.go.kr/cm/static/images/radio_unify_search_default.png) no-repeat 50% / contain;
}

.search-check label span {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
  position: relative;
}

.search-check label span::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--col_blue);
  width: 0;
  height: 6px;
  transition: 0.3s;
}

.search-check label:hover span::after {
  right: 0;
  animation: span-dash 0.3s both;
}

@keyframes span-dash {
  0% {
    left: 0;
    width: 0;
  }
  100% {
    right: 0;
    width: 100%;
  }
}

.search-input {
  margin-top: 1.5rem;
  width: 68.2rem;
  height: 6.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3rem;
  gap: 4px;
  overflow: hidden;
  background: linear-gradient(270deg, rgba(94, 101, 219, 1) 0%, rgba(121, 255, 97, 1) 100%);
  position: relative;
}

.search-input-bg {
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 8px);
  height: calc(100% - 10px);
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.search-list-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-search-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 14.5rem;
  height: 5.4rem;
  padding: 1rem;
  font-size: 2rem;
  margin-left: 2.4rem;
}

.btn-search-list::after {
  content: '';
  width: 1rem;
  height: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(https://www.work24.go.kr/cm/static/images/ico10_select.svg) no-repeat 0 0 / contain;
}

.search-list {
  position: absolute;
  display: none;
}

.search-text-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 1rem;
  gap: 5px;
}

.search-input input {
  width: 41.3rem;
  height: 4.5rem;
  font-size: 2rem;
}

.search-icon-set {
  width: 7.5rem;
  height: 100%;
  /* border: 1px solid #000; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.search-icon-set .keyboard::before {
  content: '';
  display: block;
  width: 3.2rem;
  height: 3.2rem;
  background: url(https://www.work24.go.kr/cm/static/images/main_new/ico_keyboard.svg) no-repeat 50% / contain;
  background-color: transparent;
}

.search-icon-set .search::before {
  content: '';
  display: block;
  width: 3.2rem;
  height: 3.2rem;
  background: url(https://www.work24.go.kr/cm/static/images/main_new/ico24_search.svg) no-repeat 50% / contain;
  background-color: transparent;
}

.search-recommended {
  width: 68.2rem;
  height: 7.2rem;
  margin-top: 1.6rem;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 8px;
}

.search-recommended > p {
  font-size: 1.4rem;
  font-weight: 600;
  word-break: keep-all;
  margin: 1rem 2.4rem 0 2.4rem;
}

.recommended-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  width: 100%;
  height: 8rem;
  padding: 6px;
  gap: 8px;
}

.recommended-list li {
  color: #555;
  background: var(--col_bg);
  border-radius: 1.6rem;
  overflow: hidden;
}

.recommended-list li a {
  padding: 0 1.2rem;
  height: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}

.login-form {
  width: 50.6rem;
  height: 25rem;
  padding: 3.3rem 2.3rem;
  border-radius: 8px;
  border: 1px solid var(--col_green);
}

.login-text {
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: -0.7px;
}

.login-text i {
  color: var(--col_green2);
}

.login-service {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 1.6rem;
  padding: 1.6rem 0;
}

.login-service li {
  width: 50%;
}

.login-service li a {
  display: block;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

.login-service li a::before {
  content: '';
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: no-repeat 0 0 / contain;
}

.login-service li:nth-child(1) a::before {
  background-image: url(https://www.work24.go.kr/cm/static/images/ico24_login_guide01.svg);
}

.login-service li:nth-child(2) a::before {
  background-image: url(https://www.work24.go.kr/cm/static/images/ico24_login_guide02.svg);
}

.login-service li:nth-child(3) a::before {
  background-image: url(https://www.work24.go.kr/cm/static/images/ico24_login_guide03.svg);
}

.login-service li:nth-child(4) a::before {
  background-image: url(https://www.work24.go.kr/cm/static/images/ico24_login_guide04.svg);
}

.login-form .btn-login {
  display: block;
  width: 100%;
  padding: 1.5rem 0;
  text-align: center;
  font-weight: 600;
  font-size: 15.88px;
  letter-spacing: -0.32px;
  background: var(--col_green);
  border-radius: 8px;
}

.service {
  width: 100%;
  height: 30.8rem;
  background: var(--col_box_bg);
  padding-top: 4rem;
}

.service .main-title {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 1.5;
}

.service-wrap {
  width: 100%;
  margin-top: 2.5rem;
  /* background: aqua; */
  position: relative;
}

.service-slide-wrap {
  overflow: hidden;
}

.swiper-wrapper {
  width: 124.8rem;
  display: flex;
}

.service-slider a {
  display: block;
  width: 17rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1.65rem;
  padding: 0 1.6rem;
}

.service-slider p {
  word-break: keep-all;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: -0.5px;
  text-align: center;
}

.service-slider .round {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-slider .round img {
  width: 4.8rem;
  height: 4.8rem;
}

.service-btn {
  position: absolute;
  top: 25px;
  width: 4rem;
  height: 4rem;
  background: no-repeat 50% / contain;
  cursor: pointer;
}

.service-btn.service-btn-prev {
  left: -100px;
  z-index: 10;
  background-image: url(https://www.work24.go.kr/cm/static/images/main_new/ico40_arrow_circle_left.svg);
}

.service-btn.service-btn-next {
  right: -100px;
  background-image: url(https://www.work24.go.kr/cm/static/images/main_new/ico40_arrow_circle_right.svg);
}

.service-wrap .swiper-pagination {
  position: absolute;
  left: 0;
  width: 100%;
  height: 5rem;
  /* background: rgba(0, 0, 0, 0.5); */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.swiper-pagination-bullet {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background: var(--col_button);
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  display: block;
  width: 32px;
  height: 12px;
  border-radius: 6px;
  background: #000;
}
